@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

.app {
	overflow: hidden;
	min-height: 100vh;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
}

.annotation {
	width: 7px;
	height: 7px;
	background: white;
	border: 3px solid black;
	border-radius: 7px;
	transition: all .5s ease-in-out;
}

.big-annotation {
	width: 10px;
	height: 10px;
	background: white;
	border: 2px solid black;
	border-radius: 10px;
}

.annotation:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.line {
white-space: nowrap;
}

.line * {
display: inline;
}

body {
	min-height: 100vh;
	margin: 0;
}

abs {
	position: absolute;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.center-align {
	text-align: center;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.w25 {
	width: 23%;
}

.w50 {
	width: 47%;
}

.w5 {
	width: 5%;
}

.inline-block {
	display: inline-block;
}

.hcenter {
	display: table;
    margin: 0 auto;
}
